<h3>
  Servitium.Colloquim | Корпоративный мессенджер
</h3>

<form (ngSubmit)="onSubmitingMessage()" [formGroup]="colloquimForm">

  <div class="col-xs-3">
    <input
      type="text"
      id="creator"
      class="form-control"
      formControlName="creator"
      [disabled]="isSubmitedName">
  </div>

  <div class="col-xs-8" [hidden]="!isSubmitedName">
    <input
      type="text"
      id="text"
      class="form-control"
      formControlName="text">
  </div>

  <div class="col-xs-1" [hidden]="!isSubmitedName">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="!isSubmitedName">
      <span class="glyphicon glyphicon-send"></span>
    </button>
  </div>

</form>

<div class="col-xs-1" [hidden]="isSubmitedName">

  <button
    type="submit"
    class="btn btn-block btn-primary"
    (click)="onSubmitingName()"
    [disabled]="isSubmitedName">
    <span class="glyphicon glyphicon-ok"></span>
  </button>

</div>

<div class="col-xs-5" [hidden]="isSubmitedName">

  Добро пожаловать, представтесь пожалуйста!

</div>

<div class="col-xs-3" [hidden]="!isSubmitedName">
  Последние сообщения:
</div>

<div class="col-xs-9" [hidden]="!isSubmitedName">
  <app-colloquim__message *ngFor="let message of messages" [message]="message">
    <span class="glyphicon glyphicon-download"></span>
    Загружаем список Филиалов
  </app-colloquim__message>
</div>
